aiohttp
azure-core
dashscope
datasets==3.6.0
editdistance
gdown
immutabledict
jinja2
jiwer==4.0.0
langdetect
librosa
modelscope
more_itertools
num2words
openai>=1.0.0
openpyxl
pandas
pre-commit
pycocoevalcap
pydub
pytest
pyyaml
regex
requests
rich
sacrebleu==1.5.1
scikit-learn
soundfile
tqdm
websockets==12.0
zhconv
zhon
